body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color{
    color: coral;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,coral);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 30px;
}
.about-second{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.recipie-name h1{
    text-align: center;
}
.recipie-name p{
    text-align: center;
}
.recipie-list{
    width: 27.33%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 15px;
    border-radius: 12px;
    box-shadow: 15px 15px 20px gray;
}


.nevy{
    color: navy;
}
footer h1{
    text-align: center;
}
footer p{
    text-align: center;
}